<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Footer</title>
</head>
<body>
<div class = "footer">
  <div class="footerTopLeft" style="height: 160px">
    <p style="margin-top: 10px">Giới thiệu</p>
    <p>Chính sách bảo mật</p>
    <p>Chính sách vận chuyển</p>
    <p>Hình thức thanh toán</p>
  </div>
  <div class="footerTopCenter" style="height: 160px">
    <p style="margin-top: 10px">Quy định đổi, trả và hủy đơn hàng</p>
    <p>Hướng dẫn đặt hàng</p>
    <p>Liên hệ</p>
    <p>Thông báo</p>
  </div>
  <div class = "footerTopRight">
    <div class="contract1">
      <img style="margin-left: 150px" src="assets/images/logo/facebook.png" >
      <p>https://www.facebook.com/book</p>
    </div>
    <div class="contract1">
      <img style="margin-left: 150px" src="assets/images/logo/instagram.png">
      <p>https://www.instagram.com/book</p>
    </div>
    <div class="contract1">
      <img style="margin-left: 150px"src="assets/images/logo/email.png">
      <p>book@gmail.com.vn</p>
    </div>
  </div>
  <div class = "footerBottom">
    <span style="margin-left: 400px">&copy; 2022 - Bản quyền của công ty Cổ phần Văn Hóa và Truyền Thống - bookstore.com.vn</span><br>
    <span style="margin-left: 500px">Địa chỉ: 2 – 6B Nguyễn Tri Phương, Đà Nẵng</span><br>
    <span style="margin-left: 410px">Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Đà Nẵng cấp ngày 06 tháng 11 năm 2022</span>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>
