<div class="content">
  <div class="cart page">
    <div class="container">
      <div class="page-header">
        <h2 style="color: #270082; text-align: center; margin-top: 10px; margin-bottom: 20px">Giỏ hàng</h2>
      </div><!-- /.page-header -->

      <!--      ==form==-->
      <div class="page-body">
        <div class="order-detail table-responsive">
          <table id="cart" class="table table-hover table-condensed">
            <thead style="background-color: orange">
            <tr>
              <th style="width:40%; color: #270082"><input type="checkbox" (change)="isAllChecked()" [checked]="checkAll" style="margin: 0;">&nbsp;&nbsp;Sản phẩm</th>
              <th style="width:20%; color: #270082">Đơn giá</th>
              <th style="width:10%; color: #270082">Số lượng</th>
              <th style="width:12%; color: #270082">Thành tiền</th>
              <th style="width:15%; color: #270082; text-align: center">Thao tác</th>
            </tr>
            </thead><!-- /thead -->
            <tbody class="cart-body-content">
            <tr class="cart-book" *ngFor="let cartBook of cartBookList; let i=index">
              <td>
                <input type="checkbox" style="margin: 0;" (change)="isChecked(i)" [checked]="checkList[i]">
                <div class="media">
                  <a class="cart-thumbnail-image media-left">
                    <div class="book-cover small-book-cover">
                      <img width="72px" height="100px" src="assets/images/book/{{cartBook.bookId.bookImage}}" alt="" class="media-object">
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <a style="cursor: pointer; padding-left: 10px;" [routerLink]="['/book/detail', cartBook.bookId.bookId]">{{cartBook.bookId.bookName}}</a>
                    </h5>
                    <p style="font-size: 10px; padding-left: 10px;">{{cartBook.bookId.bookQuantity}} sản phẩm có sẵn</p>
                  </div>
                </div>
              </td>
              <td>
                  <span *ngIf="cartBook.bookId.bookPromotionId.promotionId <= 1" class="price">{{cartBook.bookId.bookPrice|currency:'VND'}}</span>
                  <span  *ngIf="cartBook.bookId.bookPromotionId.promotionId > 1" class="price">
                  <span style = "text-decoration: line-through; margin-right: 5px" class="price-before-discount">{{cartBook.bookId.bookPrice|currency:'VND'}}</span>
                  {{cartBook.bookId.bookPrice - cartBook.bookId.bookPrice * cartBook.bookId.bookPromotionId.promotionPercent / 100 | currency :'VND'}}
                </span>
              </td>
              <td>
                <div>
                  <div>
                    <button style="background-color: orange; margin-left: 3px" *ngIf="cartBook.cartId.cartQuantity != 1" (click)="subBook(cartBook)"><span>˅</span></button>
                    <button style="background-color: orange; margin-left: 15px; margin-bottom: 5px" [disabled]="cartBook.cartId.cartQuantity >= cartBook.bookId.bookQuantity" (click)="addBook(cartBook)"><span>˄</span></button>
<!--                     button xoá-->
                    <button *ngIf="cartBook.cartId.cartQuantity == 1" (click)="showInfoCartDelete(cartBook)" data-toggle="modal" data-target="#modalDeleteCart"><span class="ir"></span></button>
                  </div>
                  <input style = "width: 100px" class="txt-quantity" type="text" (change)="getQuantity($event.target, cartBook)" [value]="cartBook.cartId.cartQuantity" readonly/>
                </div>
              </td>
              <td>
                <span class="price subtotal">{{cartBook.cartId.cartTotalMoney|currency:'VND'}}</span>
              </td>
              <td>
                <button style="color: red" (click)="showInfoCartDelete(cartBook)" data-toggle="modal" data-target="#modalDeleteCart" class="btn btn-primary-light btn-flat" type="button">Xóa khỏi giỏ hàng
                </button>
              </td>
            </tr>
            </tbody><!-- /.cart-body-content -->
          </table><!-- /.table -->
        </div><!-- /.order-detail -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 center-sm" style="border-style: outset; background-color: #f5ce8c">
            <h4 style="color: #270082; margin-top: 10px">Thông tin người nhận</h4>
            <hr>
            <span style="color: #270082">Họ tên người nhận: &nbsp;</span>
            <span>{{customer.customerName}}</span><br>
            <span style="color: #270082">Số điện thoại: &nbsp;</span>
            <span>{{customer.customerPhone}}</span><br>
            <span style="color: #270082">Địa chỉ: &nbsp;</span>
            <span>{{customer.customerAddress}}</span><br>
            <span style="color: #270082">Email: &nbsp;</span>
            <span>{{customer.customerEmail}}</span>
          </div><!-- /.col -->

          <div class="col-xs-12 col-sm-8 center-sm">
            <div class="table-responsive">
              <table class="table table-cart">
                <tfoot>
                <tr>
                  <td style="color: #270082"><i></i>&nbsp;Tổng tiền</td>
                  <td style="color: orange">{{totalMoney | currency:'VND'}}</td>
                  <td style="color: #270082"><i class="icon-chevron fa fa-chevron-right"></i>&nbsp;Tiết kiệm</td>
                  <td style="color: orange">{{totalMoneyBeforePromotion - totalMoney | currency:'VND'}}</td>
                </tr>
                <tr>
                  <div class="col-md-12">
                    <a style="margin-left: 400px" class="pull-right btn btn-primary btn-checkout" (click)="payment()">Thanh toán &nbsp;<i
                      class="fa fa-chevron-right"></i></a>
                  </div>
                </tr>
                </tfoot><!-- /tfoot -->
              </table><!-- /table -->
            </div><!-- /table-responsive -->
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.page-body -->
    </div><!-- /.container -->
  </div><!-- /.cart page --> <a class="scrollup hidden-xs hidden-sm" href="#" style="display: none;"><img
  src="../../../assets/images/top-scroll.png" alt=""></a>
</div>

<!-- ========Modal========== -->
<div class="modal fade" id="modalDeleteCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: crimson">Bạn chắc chắn muốn bỏ
          sản phẩm này?</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 style="color: #270082; font-weight: bolder">{{cartDelete.bookId.bookName}}</h5>
      </div>
      <div class="modal-footer">
        <button style="background: orange" type="button" class="btn btn-primary-light btn-flat" data-dismiss="modal"
                (click)="deleteCart(cartDelete.cartId.cartId)">Có
        </button>
        <button style="background: gray" type="button" class="btn btn-primary-light btn-flat"
                data-dismiss="modal">Không
        </button>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>

